version: '3'

services:
  ox_app:
    image:  registry.gitlab.com/lunar-logic/ox:v1.0.5
    container_name: ox_app
    volumes:
      - ./app-blank:/home/app/current/
      - ./ox:/home/app/current/ox
    depends_on:
      - ox_db
    ports:
      - "8080:80"
      - "8443:443"
    tty: true
    command: bash -c "mkdir -p /home/app/current/log && chmod 777 /home/app/current/log && service postfix start && /usr/local/bin/apache2-foreground"

  ox_db:
    image: mongo:3.4
    container_name: ox_db
    volumes:
      - ./../dump:/home/app/data/dump/
    ports:
      - "27017:27017"
    logging:
      driver: none

