
<IfModule mod_rewrite.c>
    RewriteEngine on
    #if you are running in a sub-diretory you will need to set the Rewrite Base to the directory you have your app in.
    #RewriteBase /appdir/
    RewriteBase /

    RewriteRule ^(.*)$ webroot/$1 [L]
 </IfModule>
